.navbar{
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.navbar.active{
    background: linear-gradient(90deg,rgba(66,2,194)0%,rgb(0,78,194)100%);

}
.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}